body {
    font-family: "Montserrat";
    font-weight: 400;
}

nav {
    background-color: #477D46;
}

img {
    width: 100%;
    height: auto;
    max-width: 80px;
}

#keluar, #pengaturan {
    color: white;
    font-size: 1em;
    margin: 0 1em;
}

#keluar {
    font-weight: 700;
}

#text {
    color: white;
    font-size: 1em;
    font-weight: 700;
}

.navbar-collapse {
    width: 0%;
}

tr {
    line-height: 1.75em;
    border-bottom: 0.1em;
    border-color: black;
    border-style: solid;
}

#text {
    width: 100%;
}

#TabelSatu, #TabelDua {
    width: 90%;
}

#TabelSatu p, #TabelDua p {
    padding: 1em 0;
    font-size: 1.5em;
    font-weight: 700;
    font-family: "Titillium Web";
    color: #477D46;
}

td {
    font-size: 0.85em;
}

.bukti, .verifikasi, .hapus {
    border: none;
    border-radius: 0.5em;
    font-weight: 500;
    transition-duration: 0.3s;
}

.bukti {
    color: white;
    background-color: black;
}

.bukti:hover {
    background-color: white;
    color: black;
    border: 0.1em solid black;
}

.verifikasi {
    background-color: #477D46;
    color: white;
}

.verifikasi:hover {
    background-color: white;
    color: #477D46;
    border: 00.1em solid #477D46;
}

.hapus {
    background-color: #BE1F1F;
    color: white;
}

.hapus:hover {
    background-color: white;
    color: #BE1F1F;
    border: 0.1em solid #BE1F1F;
}