body {
    font-family: "Montserrat";
    font-weight: 400;
}

nav {
    background-color: #477D46;
}

img {
    width: 100%;
    height: auto;
    max-width: 80px;
}

#text {
    color: white;
    font-size: 1em;
    font-weight: 700;
}

#message {
    padding: 2em 0;
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

#thanks {
    font-size: 2em;
    color: #477D46;
    padding: 1em 0;
}

#check {
    font-size: 1.5em;
    padding-bottom: 3em;
}

#back {
    color: #477D46;
    text-decoration: none;
}