* {
    font-family: "Montserrat", sans-serif;
}

#rest {
    background-color: #477D46;
}

.form {
    margin: auto;
    height: 80%;
    width: 60%;
}

#title {
    font-family: "Titillium Web";
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
}

.col-xl-9 h3 {
    font-size: 3.5em;
    font-weight: 700;
    color: white;
    text-align: right;
}

.col-xl-9 p {
    color: white;
    font-size: 2em;
    font-weight: 400;
    text-align: right;
}

#nama, #email, #tanggal, #domisili, #telepon {
    padding-left: 0.5em;
    border: 0.1em solid #c4c4c4;
    border-radius: 0.5em;
    font-size: 1em;
    width: 100%;
    height: 2em;
    margin-bottom: 0.75em;
}

#buktitrf {
    border-color: #c4c4c4;
    width: 100%;
}

#copyright {
    font-size: 0.5em;
    text-align: center;
    opacity: 50%;
}

#kirim {
    width: 100%;
    background-color: #477D46;
    padding: 0.2em 0;
    color: white;
    font-size: 1em;
    font-family: "Titillium Web";
    border-radius: 0.5em;
    border: none;
}

#kirim:hover {
    background-color: #2e542d;
}

label {
    font-size: 0.9em;
    margin-bottom: 0.1em;
}

.logo-main-page {
    width: 100%;
    height: auto;
    max-width: 120px;
}

.col-xl-9 {
    position: relative;
    padding-top: 65%;
    padding-right: 5%;
}

.huge-text {
    padding-right: 0.5em;
}
